:root {
  --primary-dark: #4e707a;
  --primary-light: #f0f0f0;
  --shadow-dark: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  font-size: 1.3rem;
  color: var(--primary-dark);
  padding: 1.5rem;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background: var(--primary-light);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-img {
  width: 4rem;
  height: 4rem;
}

.header-text {
  font-size: 2.4rem;
}

.popup-info {
  padding: 2rem 0 0.4rem 0;
}

.popup-info > p {
  padding-bottom: 0.5rem;
}

#dashboard-btn {
  background: #fff;
  color: #2a94ff;
  font-size: 1.4rem;
  border: 1px #2a94ff solid;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-dark);
  width: 13rem;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

#dashboard-btn:hover {
  background: #09c8f8;
  color: #fff;
}

#dashboard-btn:active,
#dsahboard-btn:focus {
  outline: none;
}

::selection {
  background: none;
}
