<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tooltip dashboard</title>
    <link rel="stylesheet" href="../styles/newTab.css" />
  </head>

  <body>
    <div class="dashboard">

      <!-- header -->
      <div id="dashboard-header">
        <input type="text" id="dashboard-search" />
        <div>Your words</div>
        <button class="settings-btn">...</button>
      </div>

      <!-- dashboard words list -->
      <div id="dashboard-content"></div>

      <!-- dashboard settings -->
      <div id="dashboard-settings">
        <div class="settings-header">
          <h3 class="settings-heading">Menu</h3>
          <button class="menu-close-btn">X</button>
        </div>
        <div class="settings">



        </div>
      </div>
    </div>
    <script src="../scripts/newTab.js"></script>
  </body>
</html>
