<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Tab - WORDS</title>
    <link rel="stylesheet" href="../styles/newTab.css" />
  </head>

  <body>
    <div id="dashboard-tab">
      <!-- header -->
      <div id="dashboard-header">
        <!-- <input type="text" id="dashboard-search" /> -->
        <div class="header-text">Your words</div>
        <button id="settings-btn">
          <img src="../images/dots.svg" alt="open settings menu" />
        </button>
      </div>

      <!-- dashboard words list -->
      <div class="dashboard-sub"><div id="dashboard-content"></div></div>

      <!-- dashboard settings -->
      <div id="dashboard-settings">
        <div class="settings-header">
          <h3 class="settings-heading">Menu</h3>
          <button id="menu-close-btn">
            <img src="../images/cross.svg" alt="close settings menu" />
          </button>
        </div>
        <div class="settings">
          <!-- theme settings -->
          <div class="settings-theme">
            <p>choose a theme</p>

            <!-- themes -->
            <div class="themes">
              <div id="theme-red" class="theme-box"></div>
              <div id="theme-green" class="theme-box"></div>
              <div id="theme-teal" class="theme-box"></div>
              <div id="theme-blue" class="theme-box"></div>
              <div id="theme-violet" class="theme-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../lib/masonry.js"></script>
    <script src="../scripts/newTab.content.js"></script>
    <script src="../scripts/newTab.settings.js"></script>
  </body>
</html>
