<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Words</title>
    <link rel="stylesheet" href="../styles/popup.css" />
  </head>
  <body>
    <div class="header">
      <img src="../images/popup/popup-header.svg" alt="" />
    </div>
    <div class="popup-info">
      <p>1. select word</p>
      <p>2. click on lookup to check the defintion of selected word</p>
      <p>3. you can later check word in dashboard or delete word from there.</p>
    </div>
    <button id="dashboard-btn">Open dashboard</button>
  </body>
  <script src="../scripts/popup.js"></script>
</html>
